[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[init]
    defaultBranch = main
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[help]
    autocorrect = prompt
[commit]
    verbose = true
[rerere]
	enabled = 1
    autoupdate = true
[rebase]
    autoSquash = false
    autoStash = true
    updateRefs = true
[color]
	ui = auto
[pull]
	rebase = true
[core]
    fsmonitor = true
    untrackedCache = true
[merge]
    conflictstyle = zdiff3 

