[[language]]
name = "python"
language-servers = ["pylsp"]

[language-server.pylsp.config.pylsp]
plugins.pyls_mypy.enabled = true
plugins.pyls_mypy.live_mode = true

[language.formatter]
command = "black"
args = ["--line-length", "88", "--quiet", "-"]
